{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 160,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "plugins": ["@prettier/plugin-xml"],
    "xmlWhitespaceSensitivity": "ignore",
    "xmlSelfClosingSpace": true,
    "overrides": [
        {
            "files": "*.fb2",
            "options": { "parser": "xml" }
        }
    ]
}
